$mainColor:rgb(46, 120, 206);

html,body{
    height: 100%;
    margin: 0;
    &>div{
        height: 100%;
    }
}

.mockyApp{
    display: flex;
    justify-content: flex-start;
    margin: 0;
    height: 100%;
    

    .mainPage{
        flex: 3 1 auto;
        overflow-y: scroll;
    }
}

input[type='text']{
    min-width: 240px;
    padding:5px;
    height:30px;
    border: none;
    border-bottom: 1px solid #ccc;
    &:focus,&:active{
        outline: 0;
        border-bottom-color: rgb(46, 120, 206);
    }
}

button {
    min-width: 100px;
    min-height: 30px;
    background-color: rgb(46, 134, 235);
    color: #fff;
    font-weight: 300;
    border-radius: 2px;
    border: 1px solid rgb(46, 120, 206);
    margin:2px;
}

button:hover {
    background-color:  rgb(46, 120, 206);
    cursor: pointer;
}