.list{
    list-style: none;
    padding: 0;
    color:#888;
    .listItem{
        text-decoration: none;
        margin:10px;
        min-width: 200px;
        border: 1px solid #ccc;
        border-left: 5px solid rgb(46, 134, 235);
        display: inline-block;
        .card{
            padding:5px 20px;
            div{
                margin:10px 0;
            }
            .header{
                text-transform: capitalize;
            }
            .body{
               
            }
        }
        &:hover{
            .container{
                display: block;
            }
        }
    }
}